

body.dark>.dhtmlx_message_area,
body.dark>.dhtmlx_message_area * {
	color: black;
}

#contents div.dhxlayout_sep,
#contents div.dhx_cell_layout {
	background-color: transparent;
}

#contents .dhxtreeview_cont {
	overflow-x: hidden;
}

#contents .dhxtreeview_dhx_web,
#contents .dhxtreeview_cont,
#contents .dhxtreeview_area {
	background-color: transparent;
}
#contents .dhxtreeview_item_text {
	cursor: pointer;
}
#contents .dhxtreeview_item_label,
body.dark>#contents .dhxtreeview_item_label {
	background-color: transparent;
}

body.dark>#contents .dhxtreeview_item_text:hover {
	background-color: #aaa;
}
body.dark>#contents .dhxtreeview_item_text_selected {
	background-color: #888;
}

body.dark>#contents .dhxtreeview_item_text,
body.dark>#contents .dhxtreeview_item_text:hover,
#contents .dhxtreeview_item_text,
#contents .dhxtreeview_item_text:hover {
	transition: background-color 0.5s;
}

#contents .dhxlayout_sep_resize_v {
	cursor: col-resize;
}

#contents .dhxlayout_sep_resize_h {
	cursor: row-resize;	
}

#contents .dhxacc_cont .dhx_cell_hdr_text,
#contents .dhx_cell_acc>.dhx_cell_hdr>.dhx_cell_hdr_text {
	margin-left: 20px;
}


#contents .browseCell>.dhx_cell_hdr>.dhx_cell_hdr_text,
#contents .treeCell>.dhx_cell_hdr>.dhx_cell_hdr_text {
	margin-left: 20px;
}

body .dhtmlx_popup_title {
	font-family: Roboto, Arial, Helvetica;
}

body .dhtmlx_popup_text>span,
body .dhtmlx_popup_text>span>*,
body .dhtmlx_popup_button>div {
	color: black;
}

#contents .dhx_toolbar_dhx_web .dhxtoolbar_btn_over i {
	text-shadow: 1px 1px 1px black;
}
