* {
	font-family: sans-serif;
	font-size: 12px;
}

body {
	background-color: white;
	transition: background-color 1s;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
}
body>* {
	background-color: transparent;
}
body.dark {
	background-color: #666;
	transition: background-color 1s;
	color: white;
}
body.dark * {
	color: white;
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
}

#mainLink {
	position: absolute;
	left: 0;
	top: 6px;
	width: 210px;
	height: 50px;
	padding: 2px;
	cursor: pointer;
}
#mainLink::before {
	content: " ";
	background-image: url('../img/myrss_50x50.png');
	display: inline-block;
	width: 50px;
	height: 50px;
}
#mainLink>span {
	color: orange;
	font-size: 40px;
	font-weight: bold;
	vertical-align: top;
	text-shadow: 2px 2px 2px #444;
}
body.dark #mainLink>span {
	text-shadow: 2px 2px 2px #222;
}

#buttonPanel {
	position: absolute;
	left: 220px;
	top: 12px;
	right: 320px;
	height: 40px;
	text-align: center;
}
.config {
	display: inline-block;
	cursor: pointer;
	width: 40px;
	transition: text-shadow 0.5s;
}
.config:hover {
	text-shadow: 0 0 8px orange, 0 0 2px #4d3200;
	transition: text-shadow 0.5s;
}

.readLink {
	display: inline-block;
	cursor: pointer;
	width: 40px;
	transition: text-shadow 0.5s;
}
.readLink:hover {
	text-shadow: 0 0 8px orange, 0 0 2px #4d3200;
	transition: text-shadow 0.5s;
}

#userPanel {
	position: absolute;
	cursor: default;
	top: 10px;
	right: 10px;
	width: 300px;
	height: 50px;
}
#userPanel>.themeButton {
	display: inline-block;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	transition: text-shadow 0.5s;
}
#userPanel>.themeButton:hover {
	text-shadow: 0 0 8px orange, 0 0 2px #4d3200;
	transition: text-shadow 0.5s;
}
#userPanel>.themeButton.on {
	color: lightgray;
}
#userPanel>.themeButton.off {
	color: gray;
}
#userPanel>.username {
	display: inline-block;
	position: absolute;
	overflow: hidden;
	line-height: 20px;
	font-size: 20px;
	top: 0;
	left: 30px;
	width: 230px;
	height: 20px;
}
#userPanel>.role {
	display: inline-block;
	position: absolute;
	line-height: 20px;
	left: 30px;
	top: 20px;
	width: 230px;
	height: 20px;
	
}
body.dark #userPanel>.username,
body.dark #userPanel>.role {
	text-shadow: 1px 1px 1px black;
}
#userPanel>.logout {
	position: absolute;
	display: inline-block;
	cursor: pointer;
	right: 0;
	top: 0;
	transition: text-shadow 0.5s;
}
#userPanel>.logout:hover {
	text-shadow: 0 0 8px orange, 0 0 2px #4d3200;
	transition: text-shadow 0.5s;
}

#contents {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
}

#contents .treeCell>.dhx_cell_hdr>.dhx_cell_hdr_text>span,
#contents .browseCell>.dhx_cell_hdr>.dhx_cell_hdr_text>span {
	font-size: 14px;
}

#contents .treeItemText {
	background-color: transparent;
}

#contents .listTitle {
	font-weight: normal;
}

#contents .scrollablePanel {
	position: absolute;
	top: 6px;
	left: -1px;
	right: 6px;
	bottom: 6px;
	overflow-y: scroll;
	overflow-x: hidden;
}
#contents .articlesContainer {
	display: inline-block;
	width: calc(100% - 5px);
	padding: 0 2px;
}

#contents .dhx_cell_acc {
	background-color: transparent;
}

#contents .dhx_cell_cont_acc {
	border-left: none;
}

#contents .articlesContainer .dhx_cell_acc {
	background-color: transparent;
	transition: background-color 0.5s;
}

#contents .articlesContainer .dhx_cell_acc.read {
	background-color: #aaa;
	transition: background-color 0.5s;
}
body.dark #contents .articlesContainer .dhx_cell_acc.read {
	background-color: #555;
	transition: background-color 0.5s;
}

#contents .articlesContainer .dhx_cell_acc.selected,
#contents .articlesContainer .dhx_cell_acc.read.selected {
	background-color: #ddd;
	transition: background-color 0.5s;
}
body.dark #contents .articlesContainer .dhx_cell_acc.selected,
body.dark #contents .articlesContainer .dhx_cell_acc.read.selected {
	background-color: #888;
	transition: background-color 0.5s;
}
